/.drush-lock-update
/.editorconfig
/.gitattributes
/vendor/
/web/**/.gitignore
web/drupal:drupal@127.0.0.1:3306
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/sites/*/files
/web/sites/*/private
/web/sites/*/services*.yml
!/web/sites/*/services.yml
/web/sites/*/settings.local.php
/web/sites/simpletest
/web/themes/contrib/

